/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bootstrap/dist/css/bootstrap.css"; /* ~ stands for ../node_modules/ */

body {
margin: 1%;
}

.card-header {
  font-weight: 600;
  letter-spacing: 1px;
}

table th {
  text-transform: uppercase;
  font-size: 0.9rem;
}

table td {
  font-size: 0.95rem;
}